*, *:before, *:after{
	box-sizing: border-box;
}

#column{
	float:left;
	width:33.33%;
	margin-bottom:16px;
	padding:0px 0px;
}

.card{
	box-shadow:0 1px 2px 0;
	background-color: #f2f2f2;
}

#container{
	padding:0px 16px;
	background-color: #f2f2f2;
}

#container::after, #row::after{
	content: " ";
	clear:both;
	display:table;
}

@media screen and (max-width:650px){
	#column{
		width:100%;
		display:block;
	}
}

img{
	border-radius:75%;
	height:200px;
	width:100%;
}